# Base de datos MySQL
DB_HOST=localhost
DB_USER=tu_usuario_mysql
DB_PASSWORD=tu_password_mysql
DB_NAME=investigacion_descriptiva
DB_PORT=3306

# JSON Web Token
JWT_SECRET=cambia_este_secreto
JWT_EXPIRES_IN=8h

# Servidor
PORT=3001
