node_modules/
.expo/
dist/
web-build/
android/
ios/
backend/
.git/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem
*.tsbuildinfo
service-account-key.json
seed-firebase.js
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
