# Variables de entorno para Expo (Frontend)
# Si no defines estas variables, la app intentará detectar automáticamente
# la IP del host Expo en tiempo de ejecución.
EXPO_PUBLIC_API_URL=
EXPO_PUBLIC_API_URL_ANDROID_EMULATOR=http://10.0.2.2:3001/api
EXPO_PUBLIC_API_URL_ANDROID_DEVICE=
